.task-card {
    min-height: 220px;
    width: 100%;
    border: none;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

.task-card--face-down {
    background-color: black;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.task-card-number {
    font-size: 2rem;
    font-weight: bold;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;

    width: min(900px, 90vw);
    margin: 40px auto;
}