.task-card {
    min-height: 220px;
    width: 100%;
    border: none;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

.task-card--face-down {
    background-color: black;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.task-card-number {
    font-size: 2rem;
    font-weight: bold;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;

    width: min(900px, 90vw);
    margin: 40px auto;
}

.task-card--highlighted {
    transform: scale(1.05);
    box-shadow:
        0 0 0 5px white,
        0 0 25px rgba(255,255,255,.9);

    transition:
        transform 0.08s ease,
        box-shadow 0.08s ease;
}