.mainPage {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.groups-Grid {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.locked-input {
    border: none;
    outline: none;
    box-shadow: none;
}